export ISOPATH=$(expand_path ./results)
export KUBECONFIG=$(expand_path .kube/config)
export SOPS_AGE_KEY_FILE=$(expand_path ./keys.txt)
export TALOSCONFIG=$(expand_path ./talos/talosconfig)
export CPLANE_IP="192.168.1.170"
export WORKER_IP=("192.168.1.171" "192.168.1.172" "192.168.1.173")
export CLUSTER_NAME="raspberry"

use flake
