---
argo-cd:
  configs:
    cm:
      create: true
      admin:
        enabled: true
      # https://docs.cilium.io/en/latest/configuration/argocd-issues/
      resource.exclusions: |
        - apiGroups:
          - cilium.io
          kinds:
          - CiliumIdentity
          clusters:
          - "*"
    params:
      server.insecure: "true"


  controller:
    replicas: 1
    resources:
      limits:
        memory: 1Gi
      requests:
        cpu: 100m
        memory: 1Gi

  server:
    replicas: 1
    resources:
      limits:
        memory: 128Mi
      requests:
        cpu: 100m
        memory: 128Mi
    ingress:
      enabled: true
      annotations:
        cert-manager.io/cluster-issuer: cloudflare-cluster-issuer
      ingressClassName: "traefik"
      hostname: "argo.zawadzki.tech"
      path: /
      pathType: Prefix
      extraTls:
        - hosts:
            - argo.zawadzki.tech
          secretName: argo-tls

  repoServer:
    replicas: 1
    resources:
      limits:
        memory: 256Mi
      requests:
        cpu: 10m
        memory: 256Mi

  applicationSet:
    replicas: 1
    resources:
      limits:
        memory: 128Mi
      requests:
        cpu: 100m
        memory: 128Mi

  redis:
    enabled: true
    resources:
      limits:
        memory: 64Mi
      requests:
        cpu: 100m
        memory: 64Mi

  redisSecretInit:
    resources:
      limits:
        memory: 64Mi
      requests:
        cpu: 100m
        memory: 64Mi

  redis-ha:
    enabled: false

  notifications:
    enabled: false

  dex:
    enabled: false
