---
kube-prometheus-stack:
  grafana:
    enabled: true
    adminUser: admin
    admin:
      existingSecret: "grafana-credentials"
      userKey: admin-user
      passwordKey: admin-password

    grafana.ini:
      analytics:
        check_for_updates: false
        reporting_enabled: false
        check_for_plugins_updates: false

    persistence:
      enabled: true
      type: sts
      storageClassName: nfs-client
      accessModes:
        - ReadWriteOnce
      size: 20Gi
      finalizers:
        - kubernetes.io/pvc-protection

    ingress:
      enabled: true
      ingressClassName: cilium

      annotations: {}
        # kubernetes.io/ingress.class: nginx
        # kubernetes.io/tls-acme: "true"

      ## Labels to be added to the Ingress
      ##
      labels: {}

      hosts:
        - grafana.zawadzki.tech

      path: /

      tls:
        - secretName: grafana-tls
          hosts:
            - grafana.zawadzki.tech

  nodeExporter:
    operatingSystems:
      aix:
        enabled: false
      darwin:
        enabled: false

  prometheus-node-exporter:
    namespaceOverride: kube-system

  alertmanager:
    enabled: false

  kubeProxy:
    enabled: false
