---
victoria-metrics-k8s-stack:
  vmsingle:
    enabled: true
    resources:
      requests:
        cpu: 200m
        memory: 1Gi
      limits:
        memory: 1Gi
  alertmanager:
    enabled: false
  vmalert:
    enabled: false
  vmagent:
    enabled: false
  grafana:
    enabled: true
    resources:
      requests:
        cpu: 100m
        memory: 128Mi
      limits:
        memory: 128Mi
    sidecar:
      resources:
        requests:
          cpu: 50m
          memory: 100Mi
        limits:
          memory: 100Mi
  prometheus-node-exporter:
    enabled: false
  kube-state-metrics:
    enabled: false
  kubelet:
    enabled: false
  kubeApiServer:
    enabled: false
  kubeControllerManager:
    enabled: false
  kubeDns:
    enabled: false
  coreDns:
    enabled: false
  kubeEtcd:
    enabled: false
  kubeScheduler:
    enabled: false
  kubeProxy:
    enabled: false
  victoria-metrics-operator:
    resources:
      limits:
        memory: 320Mi
      requests:
        cpu: 80m
        memory: 320Mi
