---
victoria-metrics-k8s-stack:
  vmsingle:
    enabled: true
    resources:
      requests:
        cpu: 200m
        memory: 1Gi
      limits:
        memory: 1Gi
  alertmanager:
    enabled: false
  vmalert:
    enabled: false
  vmagent:
    enabled: false
  grafana:
    enabled: true
    resources:
      requests:
        cpu: 100m
        memory: 256Mi
      limits:
        memory: 256Mi
  prometheus-node-exporter:
    enabled: false
  kube-state-metrics:
    enabled: false
  kubelet:
    enabled: false
  kubeApiServer:
    enabled: false
  kubeControllerManager:
    enabled: false
  kubeDns:
    enabled: false
  coreDns:
    enabled: false
  kubeEtcd:
    enabled: false
  kubeScheduler:
    enabled: false
  kubeProxy:
    enabled: false
  victoria-metrics-operator:
    enabled: false
