cilium:
  cgroup:
    autoMount:
      enabled: false
    hostRoot: /sys/fs/cgroup
  securityContext:
    capabilities:
      ciliumAgent: [CHOWN, KILL, NET_ADMIN, NET_RAW, IPC_LOCK, SYS_ADMIN, SYS_RESOURCE, DAC_OVERRIDE, FOWNER, SETGID, SETUID]
      cleanCiliumState: [NET_ADMIN, SYS_ADMIN, SYS_RESOURCE]
  cluster:
    name: raspberry
  gatewayAPI:
    enabled: true
    enableAlpn: true
    enableAlpnProtocol: true
  ipam:
    mode: kubernetes
  k8sServiceHost: localhost
  k8sServicePort: 7445
  kubeProxyReplacement: true
  bpf:
    vlanBypass:
      - 0
  nodeSelectorLabels: true
  hostFirewall:
    enabled: true
  l2announcements:
    enabled: true
  devices:
    - end0
  prometheus:
    enabled: true

  operator:
    replicas: 1
    prometheus:
      enabled: true
    resources:
      requests:
        cpu: 50m
        memory: 100Mi
      limits:
        memory: 100Mi

  initResources:
    requests:
      cpu: 10m
      memory: 10Mi
    limits:
      memory: 10Mi

  resources:
    requests:
      cpu: 50m
      memory: 200Mi
    limits:
      memory: 200Mi

  cni:
    resources:
      requests:
        cpu: 10m
        memory: 100Mi
      limits:
        memory: 100Mi

  envoy:
    resources:
      requests:
        cpu: 10m
        memory: 100Mi
      limits:
        memory: 100Mi

  hubble:
    relay:
      enabled: true
      resources:
        requests:
          cpu: 10m
          memory: 100Mi
        limits:
          memory: 100Mi
    ui:
      enabled: true
      backend:
        resources:
          requests:
            cpu: 50m
            memory: 100Mi
          limits:
            memory: 100Mi
      frontend:
        resources:
          requests:
            cpu: 50m
            memory: 100Mi
          limits:
            memory: 100Mi
